/* Estilos para a seção */
.S1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para o contêiner de botões */
.div_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que os botões se ajustem em várias linhas em telas menores */
}

/* Estilos para os botões */
.btn {
    padding: 12px 25px;
    background-color: var(--light-blue-2);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--dark-blue);
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .btn {
        font-size: 12px;
        padding: 8px 15px;
    }
}