{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Formulários</title>
    <link rel="stylesheet" href="{% static 'juridico/css/style_form.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Formulários</h1>
        <ul>
            {% for formulario in formularios %}
                <li><a href="{% url 'juridico:formulario' formulario %}">{{ formulario }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
