{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE</title>
    <link rel="stylesheet" href="{% static 'css/style_nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/usuario"><div id="icon-corretor"><svg id="img-user"><use xlink:href="{% static 'svg/user.svg' %}#user"></use></svg></div></a></li>
                <li><a href="#">Imoveis</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>©2025 Sistema de Automação. Todos os direitos reservados.</p>
        <p>Contato: <a href="mailto:vg.bitello@gmail.com">vg.bitello@gmail.com</a></p>
    </footer>
</body>
</html>
