{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE-Login</title>
    <link rel="stylesheet" href="{% static 'global/css/style_colors.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style_login.css' %}">
</head>
<body>

    <main class="main-content">

        <section class="login-box">
            <a class="back-button" href="../"><svg class="logo-svg"><use xlink:href="{% static 'global/svg/circle-cross.svg' %}#circle-cross"></use></svg></a>
            <div class="form-container">
                <svg class="user-svg"><use xlink:href="{% static 'global/svg/user.svg' %}#user"></svg>
                <form class="login-form">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-input" required>
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" name="password" id="password" class="form-input" required>
                    <div class="form-options">
                        <div class="remember-me">
                            <input type="checkbox" name="remember" id="remember" class="form-checkbox">
                            <label for="remember" class="form-label">Lembrar-me</label>
                        </div>
                        <a href="#" class="forgot-password">Esqueceu a senha?</a>
                    </div>
                    <input type="submit" value="Entrar" class="form-submit">
                </form>
            </div>
        </section>

    </main>

    <footer class="footer">
        <p class="footer-copyright">©2025 Sistema de Automação. Todos os direitos reservados.</p>
        <p class="footer-contact">Contato: <a href="mailto:vg.bitello@gmail.com" class="footer-email">vg.bitello@gmail.com</a></p>
    </footer>
</body>
</html>