{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Dinâmico</title>
    <link rel="stylesheet" href="{% static 'css/style_colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/usuario"><div id="icon-corretor"><svg id="img-user"><use xlink:href="{% static 'svg/user.svg' %}#user"></use></svg></div></a></li>
                <li><a href="{% url 'juridico:home' %}">juridico</a></li>
                <li><a href="{% url 'juridico:form_hub' %}">Docx</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="Formulario">
            <form method="POST" id="dynamicForm">
                {% csrf_token %}

                {{ form_html | safe }}
            </form>
        </section>
    </main>

    <!-- Popup HTML -->
    <div class="popup-overlay" style="display:none;">
        <div id="popup" class="popup" style="display:none;">
            <button class="close-btn" onclick="closePopup()">×</button>
            <p id="popup-message"></p>
            <a id="download-button" href="#" style="display:none;" class="btn btn-primary download-btn" target="_blank">Baixar DOCX</a>
        </div>
    </div>    


    <!-- Aqui será inserido o código JS gerado dinamicamente -->
    <script src="{% static 'js/script_form.js' %}"></script>
</body>
</html>
